@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Serif:wght@300&display=swap');

$fontMain: 'Montserrat', sans-serif;
$fontSecondary: 'Roboto', Serif, serif;

//Variables para textos
$textGde: 4rem;
$textMed: 2.8rem;
$textPqno: 2rem;
$textMuyPeqno:1rem;
$textMasPeqno:0.7rem;
$textNegrita: bold;

//texto
$textCenter: center;
$textRight: right;
$textLeft: left;



